.about_container {
	display: grid;
	grid-template-rows: minmax(108px, auto) auto auto auto auto;
	grid-template-columns: minmax(183px, auto) 1fr auto;
	gap: 1em;
	padding: 40px 20px 40px 20px;
}
.title,
.subtitle {
	margin: 0;
	line-height: 1;
}
.title {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-96);
	grid-column: 1/4;
}
.subtitle {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-36);
	grid-column: 1/4;
	grid-row: 2/3;
}
.title > span {
	color: var(--color-hotpink);
}
.paragraph_text {
	padding-left: 20px;
	padding-right: 20px;
}
.about_container > :nth-child(3) {
	grid-column: 1/4;
}
.about_container > :nth-child(4) {
	grid-column: 1/3;
}

.image_container {
	display: grid;
	place-content: center;
	height: 394px;
	width: 278px;
	grid-row: span 2;
}
.icon_container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.email_link {
	font-size: var(--font-size-36);
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.icon_container,
.email_link {
	min-height: 119px;
}

@media only screen and (max-width: 1320px) {
	.about_container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.title,
	.subtitle,
	.about_container > :nth-child(3),
	.about_container > :nth-child(4) {
		grid-column: 1/2;
	}
	.image_container {
		justify-self: center;
	}
	.about_container {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.email_link {
		font-size: var(--font-size-24);
	}
}
