.about_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	padding: 40px 86px 40px 86px;
	background-color: var(--color-paleviolet);
}
.title,
.subtitle,
.paragraph_intro,
.paragraph_container {
	grid-column: 1/3;
}
.title,
.subtitle {
	margin: 0;
	line-height: 1;
}
.title {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-96);
}
.subtitle {
	font-size: var(--font-size-36);
}
.title > span {
	color: var(--color-black);
}
.email_link {
	grid-column: 1/2;
}
.paragraph_text {
	padding-left: 20px;
	padding-right: 20px;
	grid-column: 1/3;
}
.paragraph_intro {
	grid-row: 3/4;
}
.paragraph_container {
	grid-row: 4/5;
}
.image_container {
	display: grid;
	place-content: center;
	height: 394px;
	width: 278px;
	grid-row: 3/6;
}
.icon_container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
	grid-column: 2/3;
}
.email_link {
	font-size: var(--font-size-36);
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 0 20px 0 20px;
}
.email_link:hover {
	color: var(--color-paleviolet);
	transition: 0.2s;
}
.icon_container,
.email_link {
}

.icon_container > *,
.email_link {
	cursor: pointer;
}

@media only screen and (max-width: 1320px) {
	.about_container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.title,
	.subtitle,
	.about_container > :nth-child(3),
	.about_container > :nth-child(4) {
		grid-column: 1/2;
	}
	.image_container {
		justify-self: center;
	}
	.about_container {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.email_link {
		font-size: var(--font-size-24);
	}
}
