.home_container {
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: start;
	padding: 40px;
	margin-top: 80px;
	row-gap: 30px;
}
.title,
.subtitle,
.title > span {
	margin: 0;
}
.title {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-195);
	line-height: 1;
}
.title > span {
	color: var(--color-hotpink);
	height: 100%;
}
.subtitle {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-96);
	line-height: 1;
}
.paragraph_text {
	font-size: var(--font-size-36);
}
.paragraph_container {
	padding-left: 20px;
	padding-right: 20px;
}
/*
@keyframes enter {
	0% {
		transform: translateY(500px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}*/

@media only screen and (max-width: 1320px) {
	.home_container {
		text-align: center;
	}
	.home_container > * {
		grid-column-start: 1;
	}
	/*
	.title {
		font-size: var(--font-size-96);
	}
	.subtitle {
		font-size: var(--font-size-36);
	}
	.paragraph_text {
		font-size: var(--font-size-24);
	}*/
}
@media only screen and (max-width: 560px) {
	.title {
		font-size: var(--font-size-96);
	}
	.subtitle {
		font-size: var(--font-size-36);
	}
	.paragraph_text {
		font-size: var(--font-size-24);
	}
}
