.projects_container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 30px;
	padding: 20px;
}
.title {
	font-size: var(--font-size-96);
	font-family: var(--font-family-secondary);
	grid-column: 1/3;
}
.subtitle {
	font-size: var(--font-size-36);
	grid-column: 1/3;
}
.title,
.subtitle,
.title > span {
	line-height: 1;
	margin: 0;
}
.title_highlight {
	color: var(--color-paleviolet);
}
.button {
	cursor: pointer;
	display: grid;
	grid-column: 3/4;
	grid-row: 1/4;
	width: 100px;
	background: rgba(106, 102, 163, 0.5);
	border: none;
	box-shadow: 5px 4px 10px 10px rgba(29, 32, 41, 0.15);
	border-radius: 8px;
}
.button:hover {
	outline: 2px solid var(--color-white-primary);
}
.button > * {
	place-self: center;
}
.image_container > *:hover {
	box-shadow: 0 0 0 2px var(--color-white-primary);
	border-radius: 15px;
}
.image_container {
	cursor: pointer;
	display: grid;
	place-self: center;
	padding: 20px;
}

@media only screen and (max-width: 500px) {
	.image_container {
		grid-column: span 2;
	}
}
